/* header*/

header{
display: flex;
align-items: center;
padding: 10px;
}
.logo{
    height: 150px;
    width: 150px;
}

/*body*/

body{
background-image: url("./image/bar.png");
background-size: cover;
background-repeat: no-repeat;
}

/*main*/

main{
    display: flex;
    justify-content: center;
}

section{

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30em;
    width: 30em;

    border-radius: 1px solid black;
    border-radius: 50%;
}

form{
    margin: 40% auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    color: chocolate;
}

label{
    color: green;
}

input{
    margin: 10%;
    background-color: white;
    height: 2em;
    width: 11em;
    font-weight: bolder;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button{
    margin: 10%;
    height: 25px;
    width: 50px;
    font-weight: bolder;
    color: black;
    display: flex;
    flex-direction: column;
}

/*footer*/

footer{
    margin: 1%;
    height: 5em;
    padding: 8px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
}